# include:
#   - template: Code-Quality.gitlab-ci.yml

image: python:3.11
stages:
  - code quality
  - build
  - deploy

pylama:
  stage: code quality
  before_script:
    - pip3 install --break-system-packages -r requirements.txt
    - pip3 install pylama[all]
  script:
    - |
      pylama -l mccabe,pycodestyle,pyflakes,pylint,isort src \
        --ignore=W0718,C901,R0913,R0902,W1203,R1710,W0511
# code_quality:
#   stage: code quality

.build: &build
  image: debian:stable
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_TAG
  before_script:
    - apt update
    - apt install -y python3 python3-pip python3-all python3-setuptools python3-distutils

build-src:
  <<: *build
  script:
    - pip3 install --break-system-packages -r requirements.txt
    - make sdist
  artifacts:
    paths:
      - dist/*.tar.gz
    expire_in: 1 week

build-deb:
  <<: *build
  script:
    - apt install -y python3-stdeb dh-python lsb-release
    - make deb
    - cp deb_dist/*.deb dist
  artifacts:
    paths:
      - dist/*.deb
    expire_in: 1 week

push-packages:
  image: debian:stable-slim
  stage: deploy
  needs:
    - job: build-src
      artifacts: true
    - job: build-deb
      artifacts: true
  before_script:
    - apt update && apt install -y curl
  rules:
    - if: '$CI_COMMIT_TAG'
  script:
    - |+
      for f in dist/*; do
        curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file $f "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/clickhouse-backup/$CI_COMMIT_TAG/$(basename $f)"
      done