[Unit]
Description=ClickHouse Backup
Documentation=https://github.com/Hedius/clickhouse-backup

[Service]
Type=oneshot
User=clickhouse
Group=clickhouse
ExecStart=/usr/bin/clickhouse-backup -c /etc/clickhouse-backup