name: quality

on:
  push:

jobs:
  quality:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.11" ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pylama[all]
      - name: Analysing the code with pylama
        run: |
          pylama -l mccabe,pycodestyle,pyflakes,pylint,isort src \
          --ignore=W0718,C901,R0913,R0902,W1203,R1710
